[Unit]
Description=Fildem Global Menu Companion Service
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/fildem
Restart=on-failure
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
WantedBy=graphical-session.target
